@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@400;500;600;700;800;900&display=swap');

html {
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;
}
body {
  padding: 0;
  margin: 0;
  letter-spacing: -0.05em;
  line-height: 1.2;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR',
    'Malgun Gothic', sans-serif;
}

@media screen and (max-width: 1023px) {
  html {
    font-size: 56.25%;
  }
}
@media screen and (max-width: 500px) {
  html {
    font-size: 56%;
  }
}

.app-wrap {
  overflow-x: hidden;
}
.app-inner {
  max-width: 124rem;
  padding: 0 2rem;
  margin: 0 auto;
}
